body {
  font-family: "Google Sans", arial, sans-serif;
}

h1 {
  color: #226b80;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
  position: relative;
  right: -20px;
}

ul {
  margin: 0;
  padding: 0;
  position: relative;
  right: -20px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #3e92a3;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
small {
  position: relative;
  right: -180px;
  bottom: -20px;
  color: #3e92a3;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(
    181.2deg,
    #7de2fc 10.5%,
    rgb(254, 254, 254) 86.8%
  );
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  margin-top: -27px;
  height: 120px;
  width: 120px;
}
.weather-temperature strong {
  color: #226b80;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #226b80;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  color: #226b80;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #226b80;
  font-weight: bold;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}

.btn.btn-primary {
  background-color: #0c9cee;
  border: #0c9cee;
  cursor: pointer;
  position: relative;
  right: -20px;
}
.btn.btn-primary:hover {
  background-color: whitesmoke;
  color: #29cbe8;
}
.btn.btn-success {
  background-color: #1dad9b;
  border: #1dad9b;
  cursor: pointer;
  position: relative;
  right: -10px;
}
.btn.btn-success:hover {
  background-color: whitesmoke;
  color: #53a8b6;
}
.form-control {
  border-radius: 5px;
  position: relative;
  right: -20px;
}

/* rgb(181, 239, 249) */
